services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: inventario-backend
    ports:
      - "8087:3001"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: inventario-frontend
    ports:
      - "8088:3002"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: unless-stopped

